<h1>New Chat Room</h1>

<%= form_with model: @chat_room, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit 'Create Chat Room' %>
  </div>
<% end %>